body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}
.container {
    max-width: 600px;
    margin: 80px auto;
    padding: 0 20px;
}
.content {
    min-height: 600px;
}
.article {
    padding: 0 20px;
    text-align: justify;
}
p {
   